@font-face { font-family: 'Blender-book'; src: url("https://s3-ap-southeast-2.amazonaws.com/styleguide-cuttlefish/blender/blenderpro-book-webfont.eot?#iefix") format("embedded-opentype"), url("https://s3-ap-southeast-2.amazonaws.com/styleguide-cuttlefish/blender/blenderpro-book-webfont.woff") format("woff"); }
@font-face { font-family: 'Blender-bold'; src: url("https://s3-ap-southeast-2.amazonaws.com/styleguide-cuttlefish/blender/blenderpro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("https://s3-ap-southeast-2.amazonaws.com/styleguide-cuttlefish/blender/blenderpro-bold-webfont.woff") format("woff"); }
* { box-sizing: Border-box; }
*, *::after, *::before { box-sizing: inherit; }

html { box-sizing: border-box;}
body {font-family: 'Blender-book'; font-size: 17px;}
svg text {font-family: 'Blender-book';}

:root {
  --bg:     white;
  --pale:   #EDEDED;
  --grad-a: #d4d4d4;
  --grad-b: #B2B2B2;
  --grad-c: #878787;
  --grad-d: #3C3C3B;
  --grad-e: #1D1D1B;
  /*--accent: #D9C823;*/
  --accent: #9c27b0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(60px, auto);
  max-width: 1000px;
  margin: auto;
}
.wrapper div {
  margin-top: 1em;
}

.feeling-pve text {}
.feeling-nve text {
    fill: var(--accent);
    stroke: var(--grad-e);
    stroke-opacity: 0.3;
}

.responses {   grid-column: 1 / 5;  grid-row: 1;     border-bottom: 0.5px solid var(--grad-a); font-size: 200%;}
.shared-why {  grid-column: 1 / 5;  grid-row: 2;     border-bottom: 0.5px solid var(--grad-a); font-size: 200%;}
.big-graph {   grid-column: 1 / 5;  grid-row: 3 / 5; }
div.bubbles {  grid-column: 5 /11;  grid-row: 1 / 4; border-left:   0.5px solid var(--grad-a);
}
.follow {      grid-column: 5 / 7;  grid-row: 4 / 5; border-left:   0.5px solid var(--grad-a); padding-left: 1em;}
.six {         grid-column: 7 /11;  grid-row: 4 / 5; border-left:   0.5px solid var(--grad-a);}

.inline-svg  { display:inline-block; width: 40%; transform: translateY(0.5em); margin-right: 0.4em; }


.chart rect {}
.chart .bg-bar {
  opacity: 0.5;
  fill: var(--pale);
}

.chart text {
  text-anchor: middle;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


#faces {
  padding-left: 0.4em;
  padding-right: 1em;
}

.active{fill:var(--accent);}
.question-mark,
.face-fill{fill:var(--bg);}
.face-line{fill:none;stroke:var(--bg);stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
.average-line{stroke:var(--accent)}
